# .gitignore - filenames listed here will not be committed by git or GitHub.
#  So if you do not want to share a file then list it here.

code/ye15reproduce/RMarkdownIntro.Rmd
edmPapers/rEDMvignette.html
edmPapers/rEDMvignette_files/*

*~
*.txt
*.RData
*.RDS

*_*.txt 
# though may need to be more specific if we have read...txt files.

.Rhistory
